body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(119.36deg, rgba(98, 238, 230, 0.5) 0%, rgba(87, 186, 242, 0.5) 20.41%, rgba(117, 174, 227, 0.5) 20.42%, rgba(36, 120, 245, 0.5) 61.56%, rgba(36, 232, 245, 0.5) 61.57%, rgba(0, 255, 240, 0.5) 100%), linear-gradient(240.64deg, #88D1FB 0%, #2EBAF0 27.71%, #67D7DE 27.72%, #86A1E7 27.73%, #4CEDF8 73.02%, #34B2DD 73.03%);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.poster-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 750px;
  width: 1200px;
  align-self: center;
}

.poster{
  height: 350px;
  width: auto;
  align-self: center;
  display: flex;
}

img{
  width: 200px;
  height: 300px;
  margin: 30px;
  padding: 10px;
  align-self: center;
}
